h1 {
    text-align: center;
    margin: 20px;
}

#appointment-details {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#appointment-details ul {
    list-style-type: none;
}

#appointment-details li {
    margin-bottom: 10px;
}
